@import 'vendor/_reset.scss';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$thumb-img-height: 170px;
$thumb-img-width: 280px;

$slide-containerW: 100%;
$slide-containerH: 300px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.list-thu{
	display: block;
	position: relative;
}

.itm-thu{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.img-thu{
	background-color: red;
	padding: 7px;
	max-width: $thumb-img-width;
	max-height: $thumb-img-height;
}

.mcon-b{
	position: relative;
	width: $slide-containerW;
	height: $slide-containerH;
	background-color: black;
	text-align: center;
	margin-bottom: 5px;
}

.slides{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.img-lrg{
	background-color: white;
	padding: 7px;
	max-height: $slide-containerH - 40;
}

.next-arrow{
	position: absolute;
	right: 0;
	top: 125px;
	background-color: green;
	width: 50px;
	height: 50px;
}

.prev-arrow{
	position: absolute;
	left: 0;
	top: 125px;
	background-color: green;
	width: 50px;
	height: 50px;
}

