language: node_js
node_js:
  - "0.12"
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
env:
  global:
  - secure: kEgaXyZxCZB9BNVXZuDytYOCVsSnPiTKuwIux9+kMSVaXktt9lGwMO53SiOR6Fw3IdFN2Cy3Kz5CxfgLH8+/dl/Vm29MBBMA7xx7st56jdayINXHl6KHhetCXTyVAu62OqNaUuGxN1/7Wc9juR+JU+JLbxfC81SGo8lsqBm0gaNJrluftOhbX8jo1GEJIiMIi6Av6c2XJMXcTLe+potpJvxQ9KcyPeTJLa1oJjebEAvg1C5TJ8mQoZq1lEsBjYLk6NOKhyz9Hs451S2SQkoKd60rcKwZ1bOXjVeFQvnFQEpfm+UmUbJGB8blNX4Sx/uQzGbUMuObWgtog+/9cV3jxhnFEH3X0bUzNuZlcWl427GEMKrwidvhnPGJU8lp7s1sknqVAlVENdGk5e6cT/v+um4E3IVZ/FHwYOyxnHGqlWRqbPCXFBckk35oLSo7iPzG05Q/JqMiOrG6vxCiKDC1yOKEBf3AC8ou9n7vIUyqyP5B/0nWD+vn+SOxLZMG2/mc4gHrRTYSYNBogNOU6eUxJqvIEtoZgANiFV2Zjd3PVMrAScBTsZgrUkxFEhDaCQMi5zaLc00LH0wgAB4vTjKZbbL3Y0dquCm+Mw/gqn/S1F14cXwbeboZzXl3XmwotzraruR/nHKeJQOOmdMwAdNWizSNg2cr5vtnCYw7C+BrzOA=
  - secure: f3225wVYGNbZnb9o3K7X/II3ca5Rxgb9EvY3np1KC3fnjqIPx6as6UiFY02nZWlRXtAcC/keS4K8OuG0CL7ZN36+OkoyC8r2tARZYVPYaktq/ZDgGSTuwm0eQLy3N4bWX8zJeNLin1qaiYaiVnGD2eNH3oBNEZbh9Iip+6fw/xt4EVZuQNNrcRs74tQpvY3C912I0Iwby2/fvKGozxS4I+6zpIdgl8TYfL0uUX+vpWdyRlaR/l+FgloHdJc24tt157zXvP+DWcVkJnb0V/iavmd0Kug8y4DeU8vF5J/EwlSzLonsFwH07n90gv/UabKuZ/gursl2HMH+ax02Sk4+ZWKYb7pZaA+Nnp4/Tbv8ElXi14CevNpNuRGUBtsmb224epzKR2ly75C+gP26c3+/+Es1U8Vg0XQhcxQUioifBZq6HV4ZCvAzxzG4DCG7jeGOrkT/GSZO9oy0G8HXhaVx//qhZnoTLRZqfN5eHgz5iydPciGo1++TtMiQaYvAAFqG1CfCHj79qv9wlN3ULZYUeMZFnFWnU0nhpYXFV2WQGdpIRCZMmcB+0/Il+SZHzZMcmPjBn87EVDoyRR9e0Fjh/YuZ70ZAqZYJh6v6vgZw/PZ7BGO9VX2urS+11KzfbBQEsYvJDE+wTDd9QeAl5tCgw185uTml2cmrwb45+Z3mdVA=
addons:
  sauce_connect: false
